.icon-select-menu {
  min-width: 600px;

  & .header {
    font-size: 80px;
    margin: 100px 0 40px;
    text-wrap: nowrap;
  }

  & .icon-selection-btns {
    display: flex;
    justify-content: center;
    gap: 50px;

    & .selection-btn.selected {
      outline: 5px solid var(--darker-beige);
    }
  }

  & .selection-btn {
    background-color: transparent;
    border: 2px solid var(--darker-beige);
    padding: 25px;
    border-radius: 80px;
    width: 150px;

    & .icon {
      width: 100px;
    }

    &.random {
      margin-top: 50px;
    }

    &:hover {
      background-color: var(--dark-beige);
    }
  }

  & .text-btn {
    display: block;
    margin: 50px auto;
  }
}
