@import url("https://fonts.googleapis.com/css2?family=Keania+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap");

:root {
  --light-beige: #faf5c7;
  --dark-beige: #dbd6ac;
  --darker-beige: #aba789;
  --ocean-blue: #9bb7ff;
  --dark-blue: #145fbb;
  --ship-border-color: #414141;
  --ship-color: #dad8d8;
  --red: #ff0000;
  --dark-red: #b51414;
  --gray: #aaa5a5;
  --dark-gray: #959494;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

button {
  cursor: pointer;
}

& .header {
  font-family: "Keania One";
  color: var(--darker-beige);
}

& .text-btn {
  width: 225px;
  font-size: 40px;
  font-weight: bold;
  font-family: "Stick No Bills";
  color: var(--darker-beige);
  background-color: var(--dark-beige);
  border: none;
  border-radius: 15px;
  padding: 5px 40px;
  text-wrap: nowrap;

  &:hover {
    box-shadow: 5px 5px 5px var(--darker-beige);
  }

  &:active {
    box-shadow: inset 5px 5px 5px var(--darker-beige);
  }
}

.icon {
  height: auto;

  &.option {
    filter: brightness(0) saturate(100%) invert(78%) sepia(12%) saturate(559%)
      hue-rotate(15deg) brightness(85%) contrast(82%);
  }
}

body {
  background-color: var(--light-beige);
  text-align: center;

  & .home-menu {
    & .header {
      font-size: 100px;
      margin: 250px 0 50px;
    }

    & .menu-buttons {
      display: flex;
      justify-content: center;
      gap: 100px;
    }
  }

  & .icon-select-menu {
    & .header {
      font-size: 80px;
      margin: 100px 0 40px;
    }

    & .selection-btn {
      background-color: transparent;
      border: 2px solid var(--darker-beige);
      padding: 25px;
      border-radius: 80px;

      & .icon {
        width: 100px;
      }

      &.random {
        margin-top: 50px;
      }

      &:hover {
        background-color: var(--dark-beige);
      }
    }

    & .icon-selections {
      display: flex;
      justify-content: center;
      gap: 50px;

      & .selection-btn.selected {
        border-width: 7px;
      }
    }

    & .text-btn {
      display: block;
      margin: 50px auto;
    }
  }
}
