@import url("https://fonts.googleapis.com/css2?family=Keania+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap");

:root {
  --light-beige: #faf5c7;
  --dark-beige: #dbd6ac;
  --darker-beige: #aba789;
  --ocean-blue: #9bb7ff;
  --ship-color: #dad8d8;
  --red: #ff0000;
  --dark-red: #b51414;
  --gray: #aaa5a5;
  --dark-gray: #959494;
}

body {
  height: 100%;
  background-color: var(--light-beige);
  text-align: center;
  padding: 10px 25px;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

button {
  cursor: pointer;
}

& .header {
  font-family: "Keania One";
  color: var(--darker-beige);
}

& .text-btn {
  width: 225px;
  font-size: 40px;
  font-weight: bold;
  font-family: "Stick No Bills";
  color: var(--darker-beige);
  background-color: var(--dark-beige);
  border: none;
  border-radius: 15px;
  padding: 5px 40px;
  text-wrap: nowrap;

  &:hover {
    box-shadow: 5px 5px 5px var(--darker-beige);
  }

  &:active {
    box-shadow: inset 5px 5px 5px var(--darker-beige);
  }
}

& .game-board {
  background-color: var(--ocean-blue);
  border: 1px solid var(--dark-gray);
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  & .square {
    background-color: var(--ocean-blue);
    border: 1px solid var(--dark-gray);

    &.ship {
      background-color: var(--ship-color);
      border-color: rgb(from var(--dark-gray) r g b / 25%);
    }
  }
}

.icon {
  height: auto;

  &.option,
  &.player,
  &.player-crown {
    filter: brightness(0) saturate(100%) invert(78%) sepia(12%) saturate(559%)
      hue-rotate(15deg) brightness(85%) contrast(82%);
  }
}

.player-icon-container {
  background-color: var(--light-beige);
  border: 2px solid var(--darker-beige);
}

.ship {
  background-color: var(--ship-color);
  border: 1px solid var(--dark-gray);
}
